.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.github
vsc-extension-quickstart.md
**/tsconfig.json
**/pnpm-lock.yaml
**/.prettierrc.js
**/.prettierignore
**/tsup.config.js
**/.oxlintrc.json
**/*.map
**/*.ts
milkdown-vscode.gif
