@import 'katex/dist/katex.css';

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('../public/material-icons.woff2') format('woff2'), url('../public/material-icons.woff') format('woff');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('../public/material-icons-outlined.woff2') format('woff2'),
        url('../public/material-icons-outlined.woff') format('woff');
}
.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

code[class*='language-'],
pre[class*='language-'] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: rgb(var(--neutral));
    background: var(--vscode-editor-background);
    font-family: Roboto Mono, monospace;
    font-size: 1em;
    line-height: 1.5em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

code[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-'] ::-moz-selection {
    background: var(--vscode-editor-selectionBackground);
    color: var(--vscode-editor-selectionForeground);
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
    background: var(--vscode-editor-selectionBackground);
    color: var(--vscode-editor-selectionForeground);
}

/* Code blocks */
pre[class*='language-'] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: var(--vscode-editorWidget-background);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--vscode-debugConsole-sourceForeground);
}

.token.punctuation {
    color: var(--vscode-textLink-foreground);
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--vscode-textLink-foreground);
}

.token.boolean {
    color: var(--vscode-textLink-foreground);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--vscode-editorGutter-addedBackground);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: rgb(var(--solid));
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: var(--vscode-textPreformat-foreground);
}

.token.keyword {
    color: rgb(var(--primary));
}

.token.regex,
.token.important {
    color: rgb(var(--solid));
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

@font-face {
    font-family: 'KaTeX_AMS';
    src: url(../public/KaTeX_AMS-Regular.woff2) format('woff2'), url(../public/KaTeX_AMS-Regular.woff) format('woff'),
        url(../public/KaTeX_AMS-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Caligraphic';
    src: url(../public/KaTeX_Caligraphic-Bold.woff2) format('woff2'),
        url(../public/KaTeX_Caligraphic-Bold.woff) format('woff'),
        url(../public/KaTeX_Caligraphic-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Caligraphic';
    src: url(../public/KaTeX_Caligraphic-Regular.woff2) format('woff2'),
        url(../public/KaTeX_Caligraphic-Regular.woff) format('woff'),
        url(../public/KaTeX_Caligraphic-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Fraktur';
    src: url(../public/KaTeX_Fraktur-Bold.woff2) format('woff2'), url(../public/KaTeX_Fraktur-Bold.woff) format('woff'),
        url(../public/KaTeX_Fraktur-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Fraktur';
    src: url(../public/KaTeX_Fraktur-Regular.woff2) format('woff2'),
        url(../public/KaTeX_Fraktur-Regular.woff) format('woff'),
        url(../public/KaTeX_Fraktur-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Main';
    src: url(../public/KaTeX_Main-Bold.woff2) format('woff2'), url(../public/KaTeX_Main-Bold.woff) format('woff'),
        url(../public/KaTeX_Main-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Main';
    src: url(../public/KaTeX_Main-BoldItalic.woff2) format('woff2'),
        url(../public/KaTeX_Main-BoldItalic.woff) format('woff'),
        url(../public/KaTeX_Main-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'KaTeX_Main';
    src: url(../public/KaTeX_Main-Italic.woff2) format('woff2'), url(../public/KaTeX_Main-Italic.woff) format('woff'),
        url(../public/KaTeX_Main-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'KaTeX_Main';
    src: url(../public/KaTeX_Main-Regular.woff2) format('woff2'), url(../public/KaTeX_Main-Regular.woff) format('woff'),
        url(../public/KaTeX_Main-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Math';
    src: url(../public/KaTeX_Math-BoldItalic.woff2) format('woff2'),
        url(../public/KaTeX_Math-BoldItalic.woff) format('woff'),
        url(../public/KaTeX_Math-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'KaTeX_Math';
    src: url(../public/KaTeX_Math-Italic.woff2) format('woff2'), url(../public/KaTeX_Math-Italic.woff) format('woff'),
        url(../public/KaTeX_Math-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'KaTeX_SansSerif';
    src: url(../public/KaTeX_SansSerif-Bold.woff2) format('woff2'),
        url(../public/KaTeX_SansSerif-Bold.woff) format('woff'),
        url(../public/KaTeX_SansSerif-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_SansSerif';
    src: url(../public/KaTeX_SansSerif-Italic.woff2) format('woff2'),
        url(../public/KaTeX_SansSerif-Italic.woff) format('woff'),
        url(../public/KaTeX_SansSerif-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'KaTeX_SansSerif';
    src: url(../public/KaTeX_SansSerif-Regular.woff2) format('woff2'),
        url(../public/KaTeX_SansSerif-Regular.woff) format('woff'),
        url(../public/KaTeX_SansSerif-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Script';
    src: url(../public/KaTeX_Script-Regular.woff2) format('woff2'),
        url(../public/KaTeX_Script-Regular.woff) format('woff'),
        url(../public/KaTeX_Script-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Size1';
    src: url(../public/KaTeX_Size1-Regular.woff2) format('woff2'),
        url(../public/KaTeX_Size1-Regular.woff) format('woff'),
        url(../public/KaTeX_Size1-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Size2';
    src: url(../public/KaTeX_Size2-Regular.woff2) format('woff2'),
        url(../public/KaTeX_Size2-Regular.woff) format('woff'),
        url(../public/KaTeX_Size2-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Size3';
    src: url(../public/KaTeX_Size3-Regular.woff2) format('woff2'),
        url(../public/KaTeX_Size3-Regular.woff) format('woff'),
        url(../public/KaTeX_Size3-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Size4';
    src: url(../public/KaTeX_Size4-Regular.woff2) format('woff2'),
        url(../public/KaTeX_Size4-Regular.woff) format('woff'),
        url(../public/KaTeX_Size4-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaTeX_Typewriter';
    src: url(../public/KaTeX_Typewriter-Regular.woff2) format('woff2'),
        url(../public/KaTeX_Typewriter-Regular.woff) format('woff'),
        url(../public/KaTeX_Typewriter-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
