.tippy-box[data-theme~='vsc'] {
    background-color: var(--vscode-notifications-background);
    color: var(--vscode-notifications-foreground);
}

.tippy-box[data-theme~='vsc'] > .tippy-svg-arrow {
    background-color: var(--vscode-notifications-background);
    fill: var(--vscode-notifications-background);
}

.tippy-box[data-theme~='vsc'] > .tippy-svg-arrow > svg {
    margin: -1px;
}
